---
import CSharp from "@/icons/CSharp.astro";
import NextJS from "@/icons/Nextjs.astro";
import TypeScript from "@/icons/TypeScript.astro";
import Unity from "@/icons/Unity.astro";
import ProjectCard from "../components/ProjectCard.astro";
import Drizzle from "@/icons/Drizzle.astro";

const PROJECTS = [
    {
        id: "gunbrawl",
        title: "Gun Brawl",
        description: "Gun Brawl is a local multiplayer fight 2D pixelart game",
        url: "https://ruben-velasquez.itch.io/gun-brawl",
        badges: [
            {
                name: "Unity", 
                icon: Unity, 
                class: "bg-slate-900 text-white"
            },
            {
                name: "CSharp", 
                icon: CSharp, 
                class: "bg-violet-900 text-white"
            }
        ]
    },
    {
        id: "usefulgpt",
        title: "Useful GPT",
        description: "A simple interface for OpenAI LLMs with custom prompts.",
        url: "https://usefulgpt.vercel.app/",
        badges: [
            {
                name: "NextJS", 
                icon: NextJS, 
                class: "bg-slate-900 text-white"
            }
        ]
    },
    {
        id: "ecommerce",
        title: "Test E commerce",
        description: "An functional e-commerce made by hand using Nextjs, Supabase, Drizzle and TransBank SDK.",
        url: "https://github.com/ruben-velasquez/E-commerce-test",
        badges: [
            {
                name: "NextJS", 
                icon: NextJS, 
                class: "bg-slate-900 text-white"
            },
            {
                name: "Drizzle", 
                icon: Drizzle, 
                class: "bg-[#a3ca45] text-white"
            },
        ]
    },
    {
        id: "schoolapp",
        title: "School App",
        description: "An simple interface to store grades and notes for students using localStorage.",
        url: "https://school-app-lyart-beta.vercel.app/",
        badges: [
            {
                name: "NextJS", 
                icon: NextJS, 
                class: "bg-slate-900 text-white"
            },
            {
                name: "TypeScript", 
                icon: TypeScript, 
                class: "bg-sky-900 text-white"
            },
        ]
    },
]
---

<section class="grid gap-2">
    <h2 class="text-2xl font-bold">Proyectos</h2>
    <ul class="w-full grid grid-cols-1 place-items-center sm:grid-cols-2 flex-col flex-wrap items-center gap-4">
        {
            PROJECTS.map(project => (
                <ProjectCard id={project.id} title={project.title} description={project.description} badges={project.badges} url={project.url}/>
            ))
        }
    </ul>
</section>